files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/90_symfony.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      container_id=`docker ps | grep "php:fpm" | awk '{ print $1 }'`
      docker exec $container_id apt-get update
      docker exec $container_id apt-get -y install git curl mcrypt zip unzip
      docker exec $container_id /usr/local/bin/php -r "copy('https://getcomposer.org/installer', '/var/www/composer-setup.php');"
      docker exec $container_id /usr/local/bin/php /var/www/composer-setup.php --install-dir=/var/www/
      docker exec $container_id /usr/local/bin/php -r "unlink('/var/www/composer-setup.php');"
      # docker exec $container_id /usr/local/bin/php /var/www/composer.phar install -d=/var/www/html
      docker exec $container_id /usr/local/bin/php /var/www/composer.phar create-project symfony/website-skeleton /var/www/html
