files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/91_symfony.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/bash
      #
      # reset cache
      container_id=`docker ps | grep "php:fpm" | awk '{ print $1 }'`
      docker exec $container_id chmod +x /var/www/html/bin/console
      docker exec $container_id /var/www/html/bin/console cache:clear
      docker exec $container_id chmod 777 -R /var/www/html/var
